# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

\.DS_Store

zad1

TMVA\.root

*.png

out 28\.01\.2019 00:42/notatka\.txt

*.pdf

dataset/weights/
